.headerOption {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-right: 1vw;
  color: gray;
  cursor: pointer;
}

.headerOption:hover {
  color: black;
}

.headerOption__title {
  font-size: 10px;
  font-weight: 400;
}

.headerOption__icon {
  object-fit: contain;
  height: 20px !important;
  width: 20px !important;
}
